.about-section{
	background-color: #ddd;
}
.about-content{
    float: left;
	width: 50%;
    margin-top: 200px;
    margin-bottom: 100px;
}
.about-title h1{
	text-transform: uppercase;
	font-size: 50px;
	color: #720909;
}
.about-description h3{
	margin-top: 20px;
	color: #705b5b;
	font-size: 21px;
}
.about-description p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.click-me{
	margin-top: 90px;
}
.click-me a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.click-me a:hover{
	background-color: #720909;
	color:#fff;
}
.about-image{
    float: right;
    width: 50%;
    margin-top: 200px;
    margin-bottom: 100px;
}
.about-image img{
    width: 100%;
    height: auto;
    margin: auto;
}