.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ddd;
}
.contact .contact-content{
    max-width: 800px;
    text-align: center;
}
.contact .contact-content h1{
    text-transform: uppercase;
	font-size: 50px;
    color: #720909; 
    /* font-weight: 500; */
}
.contact .contact-content p{
    font-weight: 300;
}
.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact-container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-container .contactInfo .contact-box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact-container .contactInfo .contact-box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact-container .contactInfo .contact-box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contact-container .contactInfo .contact-box .text h3{
    font-weight: 700;
    color: #720909;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #ffffff;
}
.contactform h2{
    font-size: 30px;
    color: #720909;
    font-weight: 700;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #720909;
    outline: none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #705b5b;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]{
    width: 100px;
    background: #720909;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.footer-bottom{
    background: #ddd;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 200;
}